input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #000;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #23232329;
}

.addForm {
	display: flex;
	flex-direction: column;
}

.addForm input {
	display: flex;
	align-items: center;
	height: 80px;
	font-size: 26px;
	margin-bottom: 15px;
	padding: 15px;
	/* box-shadow: 5px 15px 15px 5px rgba(51, 51, 51, 0.33); */
	border: 1px solid #046CC1;
	background-color: #fff;
}

.page-admin__video {
	width: 500px;
}

.page-admin__alert {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 28px;
	margin-left: 15px;
}