.hello {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 80vh;
}

.hello a {
	display: block !important;
}

.header__logo a {
	display: block !important;
}

.hello__button {
	padding: 20px 40px !important;
}

.hello__none a {
	display: none;
}